@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

html{
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body{
	margin: 0;
	background: white
	background-size: cover;
}

a{
	text-decoration: none;
}




}