body{
	font-family: Inconsolata,Menlo,Courier,monospace;
	font-size:13px;
	color:#222
}

ul{
	padding: 0;
	list-style-type: disc;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	border-bottom: 1px solid black;
}

a:visited {
	text-decoration:none;
}


h1{
	font-size: 15px;
}

.focus{
	margin: auto;
	position: absolute;
	top: 0;
	left: 2%;
	bottom: 0;
	right: auto;
	width: 25%;
	height: 50%;
}

footer ul li{
	display: inline;
}
